/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --font-weight-title: 700;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Cinzel', serif;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: var(--font-size-large);
  margin: 0;
}

h1 {
  font-size: 30px;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

#btn__reset {
	width: 200px;
  margin: 0 auto;
  font-family: 'Cinzel', serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
  background-image: url("../images/paperBackground-sm1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  width: 100%;
  padding: 10px;
}

#phrase ul li{
  margin-top: 15px;
}

/* Title */

.header {
  font-family: 'Cinzel', serif;
  color: #534232;
  text-shadow: 3px 3px 5px grey;
}

/* Phrase */

.letter {
  font-size: var(--font-size-medium);
  height: 50px;
  width: 50px;
  padding: 15px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
}

.space {
  width: 15px;
}

.show {
  color: #fff;
  background-color: #cc9900;
  font-size: 20px;
  height: 50px;
  width: 50px;
  padding: 15px 1px 0 1px;
  margin-right: 2px;
  border-radius: 5px;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  box-shadow: 5px 5px 5px grey;
}

span.word-span {
  white-space: nowrap;
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: #efc383;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.wrong {
  background: #1F2833;
  text-decoration: line-through;
  color: #FFFFFF;
}

.btn__reset {
  padding: 16px;
  margin: 50px auto;
  background: #f7a964;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: solid 4px rgba(0, 0, 0, .3);
  border-right: solid 3px rgba(0, 0, 0, .3)
}

.btn__reset:active {
  padding: 14px 16px 16px 14px;
  border-bottom: solid 4px rgba(0, 0, 0, 0);
  border-right: solid 3px rgba(0, 0, 0, 0);
}


/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
} 

.title {
  font-family: 'Cinzel', serif;
  color: #534232;
  text-shadow: 3px 3px 5px grey;
  font-weight: var(--font-weight-title);
}

.start {
  opacity: 1;
  background-color: #e8dfd8;
  background-image: url("../images/paperBackground-sm1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} 

/* .start a {
  color: #fff;
}

.win {
  background-color: var(--color-win);
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: #f5785f;
}

.lose a {
  color: var(--color-lose);
} */

.hidden {
  visibility: hidden;
}

#game-over-message {
  color: #811709;
}

#win-message {
  font-size: 1.5em;
  text-shadow: 8px 8px 10px grey;
  animation: slideInLeft 2s;
}

#lose-message {
  color: #663333;
  text-shadow: 2px 2px 5px grey;
  animation: fadein 1.5s;
}

#game-over-message div:last-of-type {
  font-size: 0.7em;
  color:var(--color-keys);;
  font-family: 'Roboto', sans-serif;
}

.hint {
  border: 1px solid var(--color-neutral-light);
}

.show-author {
  cursor: inherit;
}

.show-author:visited, .show-author:focus {
  outline: 0;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
